body {
  background-image: url('/img/bg1_LightModeBlur.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #dbd6cb;
}

#typewriter-container {
  height: 450px; /* Set a fixed height */
}

#typewriter {
  white-space: wrap;
  margin: 0;
  padding-top: 300px;
  font-size: 40px;
  color: #2f4858;
}

#userWordList {
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
}

/* Remove the top margin for the list */
.container.mt-4 {
  margin-top: 0;
}

#textInputContainer {
  transition: opacity 0.5s ease-in-out;
}

.word-item {
  cursor: pointer;
  margin: 5px 0;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2f4858;
  user-select: none;
}

/* Customize tooltip appearance */
.tooltip-inner {
  background-color: #333;
  color: #dbd6cb;
}

.custom-select-language {
  width: 100%; /* Set the width to 100% to match the bar */
}
/* Centered "Generate" Button */
.center-text {
  text-align: center;
}

#languageSelect {
  background-color: #2f4858;
  color: #dbd6cb;
}

#userText {
  background-color: #2f4858;
  color: #dbd6cb;
}

.form-control:focus {
  box-shadow: none;
}

#userText::placeholder {
  color: #dbd6cb;
}

#userText:focus {
  outline: none;
}

/* Default button styles */
.btn-primary {
  background-color: #385179;
  color: #dbd6cb;
  border-color: #dbd6cb;
}

/* Button hover styles */
.btn-primary:hover {
  background-color: #485a73; /* New background color on hover */
  border-color: #2f4858;
}

/* STORY */
.card {
  width: 650px; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px; /* Adjust spacing between cards */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-height: 650px; /* Adjust the maximum image height as needed */
  object-fit: cover;
}
  
.card-text {
  font-size: 12pt;
}

/* Additional styles for hover effect */
.card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

/* .page-transition {
  transition: transform 0.5s ease-in-out;
}

.page-rotate-left {
  transform: rotateY(180deg);
}

.page-rotate-right {
  transform: rotateY(0deg);
}

.image-transition {
  transition: opacity 0.5s ease-in-out;
}

.image-fade-out {
  opacity: 0;
} */